.login-form {
  padding: 40px 60px;
  border-radius: 10px;
  background-color: #282a31;
  width: 40%;
  min-width: 400px;
}

input {
  border-radius: 50px !important;
  background-color: #3e4046 !important;
  border: none !important;
  color: #fff !important;
  height: 36px;
}
